<script>
	import { onMount } from 'svelte';
    
    let copy = {
        icon: "content_copy",
    }

    const copyToClipboard = ({id}) => {
        if(!document.createRange || !window.getSelection || !navigator) {
            throw new Error("Insufficient copy privileges");
        }
   
        var table = document.getElementById(id);
        var range = document.createRange();
        range.selectNode(table);
        var selection = window.getSelection();
        selection.removeAllRanges();

        try {
            range.selectNodeContents(table);
        } catch(e) {
            range.selectNode(table)
        } finally {
            selection.addRange(range)
            document.execCommand('copy');
            selection.removeAllRanges();
        }
        return true;
    

}

    export let id;
    export let type;
    export let invertColor = false;
    let ready = false;
    function copyContent() {
        
        let _origCopyIcon = copy.icon;
        copy.icon = " ";
        setTimeout(()=>{
            copyToClipboard({id})
            copy.icon = "task_alt";
            setTimeout(()=>{copy.icon = _origCopyIcon},1000);
        },200)
    }

    onMount(()=>{
        if(document.createRange && window.getSelection && navigator) {
            ready = true;
        }
    })

</script>
{#if ready}
    <i class="material-icons copy {invertColor ? 'inverted-color' : ''}" on:click="{copyContent}" title="Copy {type}">{copy.icon}</i>
{/if}
<style>
    i.copy {
        
        margin: 0 1rem;
        font-size: 1rem;
        height: 1rem;
        color: var(--dark-asphalt);
        text-align: left;
    }
    
    i.inverted-color {
        color: var(--white) !important;
    }

    i.copy:hover {
        cursor: pointer;
    }
</style>