<script>
    import { createEventDispatcher } from "svelte";
    import { onMount } from "svelte";
    const dispatch = createEventDispatcher();
    
    const __def_field_val = "";

    function __color_randomiser() {
        return '#'+(Math.random() * 0xFFFFFF << 0).toString(16).padStart(6, '0');
    }

    function __user_id_randomiser() {
        return Math.floor(Math.random() * 10000)
    }

    let user = `User`;
    let userId = __user_id_randomiser();
    let answer = "";
    let color = "";

    function postAnswer() {
        
        if(answer.length === 0) {
            alert("Enter message first");
            return
        }

        dispatch('post', {user, answer, color, userId});
        answer = __def_field_val;

    }

    onMount(()=>{
        color = __color_randomiser();
        document.getElementById("user-message").focus();
    })

</script>

<div class="input">
    <div class="input-group">
        <label for="user-input">Color</label>
        <input bind:value="{color}" type="color" class="user-input" id="user-color" autocomplete="off">
    </div>
    <div class="input-group">
        <label for="user-name">Username</label>
        <input bind:value="{user}" type="text" class="user-input" id="user-name" placeholder="Your name" autocomplete="off">
    </div>
    <div class="input-group">
        <label for="user-message">Answer</label>
        <input bind:value="{answer}" type="text" class="user-input" id="user-message" placeholder="OTBET" autocomplete="off">
    </div>
    <button on:click="{postAnswer}">Send</button>
</div>

<style>
    .input {
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        bottom: 1rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .input > * {
        margin: 0 0.1rem !important;
    }

    .input > .input-group > input {
        margin:0;
        padding: 0.5rem 0.25rem;
    }

    input[type="color"] {
        height: 37px;
        width: 35px;
        padding: 0 !important;
        margin: 0;
        border:0 !important;
        
    }

    .input > .input-group > label {
        position: absolute;
        transform: translate(0px, -15px);
        font-size: 0.8rem;
    }


    .input > button {
        margin:0;
        padding: 0.5rem;
    }

    @media (max-width: 650px) {
		.input > * {
			width: 100%;
		}
        .input > .input-group > * {
            width: 100%;
        }

        .input > .input-group > label {
            display: none;
        }
	}

</style>