<script>

    export let data = {
        body: {text: "This is the test message", color: "#005500"},
        footer: {text: "User", date: (new Date).toLocaleTimeString()},
    }

</script>

<div class="message" style="--item-color:{data.body.color}">
    
    <div class="body">
        <p>{data.body.text}</p>
    </div>
    <div class="footer">
        <h1>By {data.footer.text} at {data.footer.date}</h1>
    </div>
</div>

<style>

    .footer > h1 {
        font-size: 0.7rem;
        border-top: 1px solid #e2e2e2;
        width: 100%;
        font-weight: 300;
    }

    .message {
        /* height: 100px; */
        margin: 0.1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: auto;
        min-width: 350px;
        border: 1px solid #e2e2e2;
        border-radius: 3px;
        padding: 0.3rem 0.3rem 0 0.3rem;
        background-color: #faaf0f22;
        max-width: 100%;
    }

    .body {
        margin: 0.1rem 0;
    }

    .body > p {
        color: var(--item-color);
        width: 100%;
        padding: 0;
        margin: 0;
    }

</style>