<script>
    import __questions from '../questions.json';
    import { createEventDispatcher } from "svelte";
    import { afterUpdate } from "svelte";

    const dispatch = createEventDispatcher();

    export const questions = __questions;

    export let currentQuestionId = questions[0].id;

    afterUpdate(() => {
        if(currentQuestionId > questions.length) {
            dispatch('exhauted');
        }
    })


</script>

<div class="questions">
    {#each questions as item, id(item)}
        {#if currentQuestionId === item.id}
            <div class="question">
                <p>{item.question}</p>
            </div>
        {/if}
    {/each}
</div>


<style>
    p {
        font-size: 1.5rem;
    }
</style>