<script>
	
	const SERVER = E_SERVER_PROTO + "://" + E_SERVER_HOST + ":" + E_SERVER_PORT

	import io from 'socket.io-client'
	const socket = io(SERVER);

	import { onMount } from 'svelte';
	import { fly } from "svelte/transition";

	
	import Question from './components/Question.svelte';
	import Input from "./components/Input.svelte";
	import Message from "./components/Message.svelte";
	import Copy from './components/Copy.svelte';

	let allUsersFinished = false;
	let status = {};
	let numUsers = 0;
	let sessionUid;

	let overallResult = [];

	socket.on('populate', (data) => {
		console.log("Populate", data);
		overallResult = data;
    	allUsersFinished = true;
  	})

	socket.on('numusers', (data) => {
		console.log(data);
		numUsers = data.clients;
		sessionUid = data.session;
	})

	socket.on('status', (data) => {
		status = data;
		console.log(data);
	})

	let questions;
	let currentQuestionId;

	let roundComplete = false;
	

	function shareUserAnswer(event) {
	
		let time = (new Date).toLocaleTimeString();
		let answer = {
			question: currentQuestionId,
			user: event.detail.userId,
			body: {text: event.detail.answer, color: event.detail.color},
        	footer: {text: event.detail.user, date: time},
		};
		
		currentQuestionId++;
		socket.emit('receive', answer);
	}

	function complete() {
		roundComplete = true;
	}

	function reset() {
		window.location.reload();
		currentQuestionId = questions.questions[0].id;
		roundComplete = false;
	}

	onMount(()=>{
		
		currentQuestionId = questions.questions[0].id;
	})
	
</script>

<main>
	{#if !roundComplete || !allUsersFinished }
		<p class="tech-info">({numUsers}) {sessionUid}</p>
		
	{/if}

	{#if roundComplete && allUsersFinished}
	{#each overallResult as mix, id(mix)}
		<div class="control">
			<p>Story {id + 1}</p> <Copy id="story-{id}"/>
		</div>
		<div class="story" id="story-{id}">
			{#each mix as answer, idx(answer)}
				<div class="answer" in:fly={{duration:100, y: 100, delay: 100}}>
					<Message data={answer} />
				</div>
			{/each}
		</div>	
			
		{/each}
		<button on:click="{reset}">3AHOBO</button>
	{/if}
	{#if roundComplete && !allUsersFinished}
		{#each Object.keys(status) as s}
			<p class="tech-info users">
				{status[s][0].footer.text}
				{#if status[s].length !== questions.questions.length}
					<i class="material-icons">bolt</i>
				{:else}
					<i class="material-icons">done</i>
				{/if}
			{status[s].length || 0} of {questions.questions.length}</p>
		{/each}
		<div class="information">
			<p>Waiting for other players to finish</p>
		</div>
	{/if}
	
	<div class="user-space {roundComplete ? 'hidden' : ''}">
		<Question bind:currentQuestionId={currentQuestionId} bind:this={questions} on:exhauted={complete}/>
		<Input on:post={shareUserAnswer}/>
	</div>
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		height: 100%;
		text-align: center;
		/* max-width: 240px; */
		margin: 0 auto;
		background-image: url('/assets/back.svg');
		background-color: #ffffffBB;
		background-blend-mode: color;
		background-repeat: repeat;

	}

	button {
        margin: 1rem;
        padding: 0.5rem;
    }

	.user-space {
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hidden {
		display: none !important;
	}

	.tech-info {
		position: absolute;
		padding: 0;
		margin: 0;
		font-size: 1rem;
		font-weight: 100;
		color: #00000025;
	}

	.tech-info.users {
		margin-top: 1rem;
		color: black;
		font-size: 0.8rem;
		position: relative;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	

	.information {
		display: flex;
		height: 100%;
		width: 100%;
		justify-content: center;
		align-items: center;
		font-size: 2.5rem;
	}

	.control {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

</style>